.custom-background {
    background-image: url('/storage/images/fondo_aeronaves.jpg'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}